html{
    background-color: black;
    color: white;
}
#image{
    height: 200px;
    border: 5px;
    border-color: white;
    border-style: solid;
    margin-top: 5%;
    margin-left: 35%;
}

h1{
    text-align: center;
    font-family: Libre+Baskerville;

}
p{
    text-align: center;
}